/* Links */
.icon-link {
  display: inline-flex;
  align-items: center;
}

.icon-link > .bi {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  transition: transform 0.25s ease-in-out;
  fill: currentColor;
}

.icon-link:hover > .bi {
  transform: translate(0.25rem);
}

a:hover {
  text-decoration: none;
}

#coinos:hover,
#paynym:hover {
  text-decoration: underline;
}

#coinos {
  color: #faf601;
  text-decoration: none;
}

#paynym {
  color: #00acc1;
  text-decoration: none;
}

#professional a:hover {
  text-decoration: underline;
  color: white;
}

#tor a:hover {
  color: #59316b;
}

/* Images */
#certificates img {
  width: 75%;
  height: 75%;
}

#github {
  margin: 0 auto;
  width: 35%;
}

#circle {
  border-radius: 100%;
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* Animation */
#dash {
  border-right: 0.05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

/* Misc */
.b-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: 0.75rem;
}

.calendar {
  overflow: auto;
}

.rounded-5 {
  border-radius: 1rem;
}

.shadow-lg-custom {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 1);
}
